@if (sentences().length > 0) {
  <dl>
    <dt>Context sentences</dt>
    <dd>
      @for (item of sentences(); track item.ja + '#' + $index) {
        <p class="sentence">
          <span class="ja" lang="ja">
            @for (part of segments(item.ja); track $index) {
              @if (part.match) {
                <mark>{{ part.text }}</mark>
              } @else {
                <span>{{ part.text }}</span>
              }
            }
          </span>
          <span class="en">{{ item.en }}</span>
        </p>
      }
    </dd>
  </dl>
}
